<div class="jumbotron bg-img">
  <h1>Welcome to Home Manager</h1>
  <p>Respect our needs</p>

  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#signup-modal">
    Sign up now!
  </button>
  <%= render 'static_pages/sign_up_modal' %>
</div>

