<h1>Reset Password</h1>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.submit 'Reset Password', class: 'btn btn-lg btn-primary' %>
    <% end %>
  </div>
</div>
