<h4>Hy, </h4>
<p>You were invited by one of your house colleges to join him in HOME MANAGER APP</p>
<p>Please follow the link and sign in with this credentials: </p>
<ul>
  <li>Email: <%= @user.email %></li>
  <li>Password: <%= @password %></li>
</ul>
