<div class="row">
  <aside class="col-sm-6">
    <section>
      <div class="page-header">
        <h1>
          <%= gravatar_for @user %>
          <%= @user.name %>
        </h1>
      </div>
    </section>
  </aside>
