<ul class="list-group">
  <li class="list-group-item active"><strong>House name:</strong> <%= current_user.house.name %></li>
  <li class="list-group-item"><strong>House address:</strong> <%= current_user.house.address %></li>
  <li class="list-group-item"><strong>House city:</strong> <%= current_user.house.city %></li>
  <li class="list-group-item"><strong>House country:</strong> <%= current_user.house.country %></li>
</ul>
