<div class="row">
  <div class="col-sm-6">

      <%= render 'shared/user_info' %>

  </div>
  <div class="col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Create a House Project</h3>
      </div>
      <div class="panel-body">
        <p>You can now create a Home Management Project and become the administrator of your project. You can invite your collegues and manage together your needs.</p>

        <p class="center"><%= link_to 'Create Home Project', new_house_path, class: 'btn btn-primary' %></p>
      </div>
    </div>
  </div>
</div>
