<div class="row">
  <div class="col-sm-6">
      <%= render 'shared/user_info' %>
  </div>
  <div class="col-sm-6">
    <%= render 'shared/house_info' %>
  </div>
</div>
<br><br>

<%= render 'shared/debts' %>

<br><br>

<%= render 'shared/expenditure_form' %>
