<div class="row">
  <div class="col-sm-6">
    <%= render 'expenditure_info' %>
  </div>
  <div class="col-sm-6">
    <%= render 'shared/house_info' %>
  </div>
</div>
<br><br>

<%= render 'expenditure_debts' %>

<%= link_to 'Expenditure Listings', current_user, class: 'btn btn-primary btm-small' %>
